WebServ/dmwebservices_parts.xml

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:basic="http://serena.com/dimensions/basic/1" xmlns:parts="http://serena.com/dimensions/parts/1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://serena.com/dimensions/parts/1">
<import namespace="http://serena.com/dimensions/basic/1" schemaLocation="dmwebservices_basic.xml"/>
<complexType name="NewDesignPart">
<annotation>
<documentation>
				This object represents a Dimensions Design Part to be created. Use this objects when creating a new Dimensions Design Part.
			</documentation>
</annotation>
<sequence>
<element name="partSpec" type="xsd:string">
<annotation>
<documentation>
						&lt;part-spec&gt; comprises: &lt;product-id&gt;:&lt;part-id&gt;.&lt;variant&gt;;&lt;pcs&gt;
						&lt;variant&gt; if omitted, the default (specified when the product was defined) is used.
						&lt;pcs&gt; if omitted, the PCS for new variants (specified when the product was defined) is used.
					</documentation>
</annotation>
</element>
<element name="category" type="xsd:string">
<annotation>
<documentation>
						/CATEGORY=&lt;category-name&gt;
						Specifies the category of design part.
					</documentation>
</annotation>
</element>
<element name="parentPartSpec" type="xsd:string">
<annotation>
<documentation>
						/PARENT_PART=&lt;parent-part-spec&gt; comprises: &lt;product-id&gt;:&lt;part-id&gt;.&lt;variant&gt;;&lt;pcs&gt;
						&lt;variant&gt; may be omitted if only one exists.
						&lt;pcs&gt; is ignored; the current PCS is always used.
					</documentation>
</annotation>
</element>
<element name="description" type="xsd:string">
<annotation>
<documentation>
						/DESCRIPTION=&lt;description&gt;
						This is mandatory text to describe the function of the design part.
					</documentation>
</annotation>
</element>
<element minOccurs="0" name="attributes" type="basic:AttributeArray">
<annotation>
<documentation>
						/ATTRIBUTES=(&lt;attr1&gt;=&lt;value1&gt;,&lt;attr2&gt;=&lt;value2&gt;,..)
						&lt;attr1&gt; is the Variable Name defined for one of the user-defined attributes for
						design parts, which has also been declared as usable for this &lt;product-id&gt; and
						&lt;category-name&gt;.&lt;valueN&gt; is the substitution value to be given to this attribute.
					</documentation>
</annotation>
</element>
</sequence>
</complexType>
</schema>
