WebServ/dmwebservices_requests.xml

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:basic="http://serena.com/dimensions/basic/1" xmlns:requests="http://serena.com/dimensions/requests/1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://serena.com/dimensions/requests/1">
<import namespace="http://serena.com/dimensions/basic/1" schemaLocation="dmwebservices_basic.xml"/>
<complexType name="NewRequest">
<annotation>
<documentation>
				This object represents a Dimensions Change Request to be created in the repository. 
				Use this objects when creating a new Dimensions Change Request.
			</documentation>
</annotation>
<sequence>
<element name="type" type="xsd:string"/>
<element name="productId" type="xsd:string"/>
<element name="title" type="xsd:string"/>
<element name="detailedDescription" type="xsd:string"/>
<element minOccurs="0" name="attributes" type="basic:AttributeArray"/>
<element minOccurs="0" name="relatedParts" type="basic:RequestRelatedPartArray"/>
<element minOccurs="0" name="relatedItems" type="basic:RequestRelatedItemArray"/>
<element minOccurs="0" name="relatedRequests" type="basic:RequestRelatedRequestArray"/>
<element minOccurs="0" name="relatedBaselines" type="basic:RequestRelatedBaselineArray"/>
<element minOccurs="0" name="relatedRequirements" type="basic:RequestRelatedRequirementArray"/>
<element minOccurs="0" name="relatedProjectSpec" type="xsd:string"/>
</sequence>
</complexType>
<complexType name="Request">
<annotation>
<documentation>
				This object represents a Dimensions Change Request already in the repository. 
				Use this object to reference an existing Dimensions Change Request.
			</documentation>
</annotation>
<sequence>
<element name="requestId" type="xsd:string"/>
<element minOccurs="0" name="status" type="xsd:string"/>
<element minOccurs="0" name="attributes" type="basic:AttributeArray"/>
<element minOccurs="0" name="relatedParts" type="basic:RequestRelatedPartArray"/>
<element minOccurs="0" name="relatedItems" type="basic:RequestRelatedItemArray"/>
<element minOccurs="0" name="relatedRequests" type="basic:RequestRelatedRequestArray"/>
<element minOccurs="0" name="relatedBaselines" type="basic:RequestRelatedBaselineArray"/>
<element minOccurs="0" name="relatedRequirements" type="basic:RequestRelatedRequirementArray"/>
<element minOccurs="0" name="relatedProjectSpec" type="xsd:string"/>
<element minOccurs="0" name="pendingUsers" type="basic:PendingUserArray"/>
<element minOccurs="0" name="archive" type="xsd:boolean"/>
</sequence>
</complexType>
</schema>
